version: "3.8"

services:
  backend:
    container_name: backend
    build:
      context: ./api
    ports:
      - "5000:5000"
    networks:
      - ci-network

  frontend:
    container_name: frontend
    build:
      context: ./client
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - ci-network

  mysql:
    container_name: mysql
    image: mysql:8.0
    environment:
      DB_HOST: mysql
      DB_USER: root
      MYSQL_ROOT_PASSWORD: root
      DB_PASSWORD: Aditya
      DB_NAME: crud_app
      JWT_SECRET: devopsShackSuperSecretKey
      RESET_ADMIN_PASS: 'true'
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - ci-network

networks:
  ci-network:

volumes:
  db_data:
